.button {
  cursor: pointer;
  padding: 13px 21px 13px 26px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba($color: #000000, $alpha: 0.64);
  border: 1px solid rgba($color: #000000, $alpha: 0.16);
  border-radius: 40px;
  background-color: #ffffff;
}
